
@import "tailwindcss";

@theme {
  --font-nunito: "Nunito", sans-serif;
  --font-open-sans: "Open Sans", sans-serif;
  --font-tienne: "Tienne", sans-serif;
  --font-hind-guntur: "Hind Guntur", sans-serif;
}


